.wrapperVertical {

    
}

.wrapperHorizontal {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    &:hover {

        .imageProductHover {
            opacity: 1;
        }

        .sidebarProductItem {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
    }
}

.productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        margin: 6px 0 0 0;
    }
}

.imageProductHover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.imageProduct {
    object-fit: cover;
}



.productName {
    white-space: nowrap; /* Bắt buộc văn bản phải nằm trên 1 dòng */
    overflow: hidden; /* Ẩn đi phần văn bản bị tràn ra ngoài */
    text-overflow: ellipsis; /* Hiển thị dấu "..." ở cuối */
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--four_color);
    padding-top: 5px;
}

.price {
    font-size: 1.4rem;
    color: var(--thr_color);
    margin-bottom: 7px;
}

.sidebarProductItem {
    opacity: 0;
}

.sizeWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin: 10px 0;
}

.sizeBtn{
    height: 20px;
    width: 20px;
    font-size: 1.2rem;
    color: var(--secondary_color);
    background-color: var(--white_color);
    border: 1px solid var(--secondary_color);

    cursor: pointer;

    &.active {
        border-color: var(--primary);
        color: var(--primary);
    }
}

.btnAddToCart {
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 300;

    &:disabled {
        background-color: var(--primary);
    }
}

