.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 750px;
    background-image: url('../../assets/images/bgc3.png');
    background-size: cover;
    background-position: center 10%;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--four_color);
        font-weight: 400;
        margin-bottom: 16px;
    }

    button {
        margin-top: 10px;
    }
}

