.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;

    background-image: url('../../assets/images/bgc3.png');

    &.heroContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}