.cart{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cartFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.totalValue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btnViewDetail {
    margin-bottom: 10px;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

