.wrapper {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 1260px;
    padding: 15px;
}

.cartTable {
    width: 70%;
}

.cartSummary {
    width: 30%;
}

.cartFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.couponWrapper{
    display: flex;
    align-items: stretch;

    .couponBtn{
        border-radius: 0px;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 10px;
    }
    
    .couponInput{
        border: 1px solid #e1e1e1;
        outline: var(--primary);
        padding: 10px;
    
        &:focus{
            border-color: var(--primary);
        }
    }
}


.deleteBtn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.2rem;

    .deleteIcon{
        margin-right: 20px;
    }

    &:hover .deleteIcon{
        color: var(--white_color);
    }
}