.wrapper {
    text-align: center;
    padding: 13px 45px;
    color: var(--white_color);
    background-color: var(--primary);
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        color: var(--primary);
        background-color: var(--white_color);
        outline: 1px solid var(--primary);
    }
}

.secondary {
    color: var(--primary);
    background-color: var(--white_color);
    outline: 1px solid var(--primary);;

    &:hover {
        color: var(--white_color);
        background-color: var(--primary);
        outline: none;
    }
}
