//Menu
.navText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.navIcons, .iconActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

span {
    word-spacing: -4px;
}

.actionIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: 20px;
}

//Menu-Item
.menuItem {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--sub_color);

    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }


  &.active {

    color: var(--sub_color);
    font-weight: 500;


    &::after {
      width: 100%;
    }
  }
}