.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 1200px;
    gap: 10px;
    margin: 66px auto 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 20px;
}
