.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 66px auto 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
